*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

:root{
    --BGCOLOR:#f5f5f5;
    --LIGHTCOLOR: #fff;
    --Button: #6FC247;
    --ALTCOLOR: #F9F9F9 ;
    --COLOR: #D7D7D7;
    --DARKCOLOR: #000;
}


body{
    font-family: 'Manrope', 'Times New Roman';
    width: 100%;
    height: auto;
    background-color: var(--LIGHTCOLOR);
}

/* Styling the Nav */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: var(--LIGHTCOLOR);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
    position: relative;
    font-family: 'Manrope', 'Times New Roman';
    font-weight: 700px;
    font-size: 16px;
}

.navItems {
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style-type: none;
}

li .home{
    color: #065666;
    filter: brightness(150%);
}

li a {
    text-decoration: none;
}

li a{
    color: #636363;
}

.solutions:hover{
    color:var(--Button);
    border-top: 2px solid var(--Button);
    border-bottom: 2px solid var(--Button);
}

.dropdown li{
    position: relative;
      display: inline-block;
}

.dropdown-content{
    display: none;
    position:absolute;
    top: 53px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--Button);
}

.dropdown:hover
   .dropdown-content {
    display: block;
}

.requestDemo{
    background-color:var(--Button);
    color: var(--LIGHTCOLOR);
    padding: 0.5em 1.5em;
    font-size: 1.25rem;
    text-decoration: none;
    border: 2px solid var(--Button); 
    border-radius: 10px;
    min-width: 400px;
}

.requestDemo:hover{
    background-color: var(--LIGHTCOLOR);
    color:var(--Button);
    transition: all ease-in 0.3s;
}

.dem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

/* Styling the About Div */

.about{
    font-family: 'Manrope', 'Times New Roman';
    text-align: center;
    color: #373737;
    margin: 50px 90px;
}

.heading{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    padding: 15px;
    line-height: 72px;
}

.about p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
}

 /* Styling the Login Button */

.login{
    background-color: var(--LIGHTCOLOR);
    color:var(--Button);
    padding: 0.5em 1.5em;
    font-size: 1.25rem;
    text-decoration: none;
    border: 2px solid var(--Button); 
    border-radius: 10px;
}

.login:hover{
    background-color:var(--Button);
    color: var(--LIGHTCOLOR);
    transition: all ease-in 0.3s;
}

.img-valutico img{
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.trust h3{
    font-weight: 800;
    text-align:center;
    line-height: 40px;
    font-size: 32px;
    color: #373737;
}

.trust p{
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color:#373737;
}

/* Styling the Images in Rows */

.rows{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
    height: 50%;
}
.item > img{
    background-color: var(--ALTCOLOR); 
    margin: 10px;
    width: 210px;
    height: 90px; 
    padding: 10px;
}
    /* End */

.container{
    background-color: var(--DARKCOLOR);
    color: var(--COLOR);
    background-attachment: fixed;
    padding: 70px 100px;
    justify-content: space-around;
    width: 100%;
}

.container > div {
    margin: 30px;
    margin-left: 65px;
}

.valutico{
    line-height: 1.5rem;
    padding-bottom: 25px; 
    width:70%;
}

.valutico h2{
    padding-bottom: 15px;
}

#sub-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#sub-container h4{
    font-size: 20px;
    padding-bottom: 1rem;
}
.container p{
    font-size: 16px;
}
#sub-container p{    
    width: 90%;
}

/* Styling the Section */

section{
    display: flex;
    flex-direction: row;
    font-size:large;
    margin-left: 130px;
}

section > div{
    padding: 30px;
}

.left-section > div{
    padding-bottom: 15px;
    margin-left: 5px;
}

.left-section h3{
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}

.left-section h4{
    font-weight: 800;
    font-size: 24px;
}
.left-section p{
    font-weight: 500;
    font-size: 16px;
    color: var(--DARKCOLOR);
}

.leftItems{
    padding: 30px;
}

.right-section{
    padding:30px; 
} 
.right-section img{
    height: 400px;
    width: 300px;
}
.leftright {
    display: flex;
    justify-content: space-between;
}

/* Styling the Footer Btn */

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


/* Media Queries */

@media (max-width:380px) {
    div.container {
        padding: 10px 20px;
       }
}

@media (max-width: 400px) {
    .dem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .btn2 {
        margin: 1em;
    }
}
@media screen and (max-width: 768px) {

    .nav-bar {
        padding: 1.2em;
        min-height: 4vh;
    }

    ul li,
    .btn1 {
        display: none;
    }
    .line {
          width: 40px;
          height: 4px;
          margin: 0.2em;
          border-radius: 5px;
          background-color: #010a04;
          transition: 0.4s;
    }  
    .menu-bar {
      margin-right: 1em;
    }
    .menu-bar:hover {
        padding: 0.1em;
        border: 1px solid #000;
    }

    .img-valutico img{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }   

    .item > img{
    width: 150px;
    height: 90px; 
    }

    .container > div {
        margin: 0px;
        width: 100%;
    }
    .valutico{
        line-height: 1.5rem;
        padding-bottom: 0px; 
    }    
    #sub-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #sub-container p{    
        width: 100%;
    }
    .container p{
        padding-bottom: 1em;
    }

    section{
        display:flex;
        flex-direction: column;
        margin-left: 40px;
    }
    
    section > div{
        padding: 30px;
    }
    .leftright {
        display: flex;
        flex-direction: column;
    }
    
    .left-section > div{
        padding-bottom: 15px;
        margin-left: 3px;
    }
    
    .left-section h3{
        font-size: 32px;
    }
    .right-section{
        text-align: center;
    }
    .right-section img{
        width: 100%;
        height: auto;
    }

    footer{
        margin-top: 30px;
    }
}

@media screen and (max-width: 820px) {
    .navItems {
        width: 45%;
    }
}

@media screen and (min-width: 769px) and (max-width:1023px){

    .right-section img{
        height: 400px;
        width: 300px;
    }
}

@media(min-width: 1024){
    .right-section img{
        display: flex;
        justify-content: flex-end;
    }
}